h1
{
    font-family: Impact, sans-serif;
}
h2
{
    font-family: "Comic Sans MS", sans-serif;
}
h3
{
    font-family: "Times New Roman", sans-serif;
}
p
{
    font-family: "Arial Black", sans-serif;
}
.imageflottante
{
    float: left;
}
.dessous
{
    clear: both;
}