body
{
    background-image: url("image/fond.jpg");
}
h1
{
    font-family: Impact, sans-serif;
}
h2
{
    font-family: "Comic Sans MS", sans-serif;
}
h3
{
    font-family: "Times New Roman", sans-serif;
}
p
{
    font-family: "Arial Black", sans-serif;
}
.imageflottante
{
    float: left;
    margin: 10px;
    border-radius: 10px;
}
.dessous
{
    clear: both;
}